<!DOCTYPE html>
 <html>
   <body>
     <h1>El creador de la pagina es: Yaiza Perez Souto</h1>
     <p><%- foto1 %></p>
     <a href="/">Volver</a>
   </body>
   <footer>
     <%- link %>
   </footer>
 </html>
