body             { background: #333; }

#page:after { content: "Smartphone Layout"; }

.no-narrow       { display: none; }

body             { font-size: xx-large; }
footer, input    { font-size: large; }