
    <input type='hidden' name='redir' value='<%= redir %>'>

	<label for="preg">Pregunta:</label>
	<input type="text" id="preg" name="question" value="<%= quiz.question %>" placeholder="Pregunta" /> <p>

	<label for="resp">Respuesta:</label>
	<input type="text" id="resp" name="answer" value="<%= quiz.answer %>" placeholder="Respuesta" /> <p>

	<label for="img">Image:</label>
	<input type="file" id="img" accept="image/*" name="image" /> <p>

	<a href="/quizzes"><button type="button">Cancelar</button></a>

	<input type="submit" value="Salvar" 
	       onClick="this.disabled = true; this.value = 'Enviando...'; this.form.submit();" >
