
    <form method="get" action="/check">        
      Pregunta: <%= question %> <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí"/>
      <input type="submit" value="Comprobar">
    </form>

